<!doctype html>
<html lang="en" ng-app="grocerylist">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css"/>
</head>
<body>
   <div class="container" ng-controller="MyCtrl1 as recipeController">
    <div class="input-group input-group-lg topSearchBar">
      <span class="input-group-addon">Search</span>
      <input type="text" class="form-control" placeholder="Search for recipe" ng-model="search">
    </div>
    
    <div class="row">
        <div class="col-md-6" >
            <div class="well box" ng-repeat="recipe in recipeController.recipes">
            <h4>{{recipe.name}} - {{recipe.numberOfServings}} portioner

            <div class="btn-toolbar pull-right" role="toolbar">
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default" ng-click="updateNrOfPortions(recipe,2)">2</button>
                <button type="button" class="btn btn-default" ng-click="updateNrOfPortions(recipe,4)">4</button>
                <button type="button" class="btn btn-default" ng-click="updateNrOfPortions(recipe,8)">8</button>
              </div>
            </div>

            </h4>

            <ul ng-repeat="ingredient in recipe.ingredients">
              <li>{{ingredient.amount}}{{ingredient.unit}} {{ingredient.name}}<button type="button" class="btn btn-default btn-xs pull-right" ng-click="addToGrocerylist(ingredient)">Lägg till inköpslista</button></li>
            </ul>
            <h4>Tillagning</h4>
            <p>{{recipe.instructions}}</p>
        </div>
         
        </div>
        <div class="col-md-6">
          <div class="well box">
          <h4>Inköpslista</h4 >
          <ul ng-repeat="item in grocerylist">
            <li>
              {{item.amount}}{{item.unit}} {{item.name}}
            </li>
          </ul>
       </div>
        
    </div>










    
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
